<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNG Practice">
	
	
	
	
	 <test name="Find New Car Test">
    <classes>
      <class name="TestCases.FindNewCars"/>
    </classes>
  </test> <!-- Test -->
	
	 
  
 
   
  
</suite> <!-- Suite -->
